body, html, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.btn-info {
    background-color: #fff;
    color: #aaa;
    border-color: #aaa;
}

.btn-info:hover {
    background-color: #aaa;
    color: #fff;
    border-color: #fff;
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) {

    .leaflet-sidebar-pane {
        min-width: 312px;
    }

    #sidebar {
        width: 396px;
    }

    .section-cardbox {
        width: 321px;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

/*@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //CSS
}*/

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    #sidebar {
        width: 350px;
    }

    #sidebar.active {
        margin-left: -350px;
    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    #sidebar {
        width: 100vw;
    }

    #sidebar.active {
        margin-left: -100vw;
    }

    .section-cardbox {
        width: 96%;
    }
}

.leaflet-popup h3 {
   font-size: large;
}

/* Elimina la flecha del input con sugerencias */
#esp_selected::-webkit-calendar-picker-indicator,
#esp_selected::-webkit-list-button {
   display: none;
}
