/* ---------------------------------------------------
    COMMON SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
   display: fixed;
   width: 100%;
}

#sidebar {
   cursor: default;
   position: relative;
   height: 100vh;
   overflow: auto;
   z-index: 1001;
   background: #F5F5F5;
   color: #000;
   float: left;
}

.close {
   margin: 5px 10px 5px 0;
   clear: both;
}

.invisible {
   display: none;
}

#sidebarCollapse {
   z-index: 1001;
   position: relative;
   float: left;
   margin: 2em;
}

.section-cardbox {
   background-color: #fff;
   box-sizing: border-box;
   border-radius: 2px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   margin-top: 0.7em;
   margin-left: 0.5em;
   position: relative;
   overflow: hidden;
}

.section-cardbox-header {
   background-color: #4285f4;
   color: #fff;
   height: 3em;
   padding: .8em;
}

.etiqueta {
   float: left;
   width: 80%;
}

.bottom {
   height: 100px;
}


/* ---------------------------------------------------
   Estilos específicos del sidebar para el mapa
----------------------------------------------------- */

.info-oferta, .puesto-pce, .textoFiltrado {
   padding-left: 2em;
}

.filtrado h5, .filtrado p.puesto-pce, .tachado {
   text-decoration: line-through;
}

.nombrePuesto {
   font-size: 1.05rem;
}

.listaSinPadding {
   padding-left: 0.5rem;
}

.textoFiltrado {
   margin-bottom: 0;
}

.div-puesto {
   margin-bottom: 2em;
}

#view-sidebar {
   line-height: 40px;
   width: 40px;
   box-sizing: border-box;
}

.leaflet-sidebar-pane .section-cardbox {
   padding-left: 0px;
}

#sidebar .leaflet-sidebar-pane article {
   padding: 10px;
}

/* Cajetín de búsqueda */
#busqueda input {
   box-sizing: 100%;
   width: 100%;
}

#busqueda ul {
   list-style: none;
   padding-left: 0;
}

#busqueda li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#busqueda li:hover {
   cursor: pointer;
   background-color: #eee;
}

#busqueda data {
   display: flex;
   justify-content: space-between;
}
/* Fin cajetín */

/* Elimina la flecha del input con sugerencias */
#esp input::-webkit-calendar-picker-indicator,
#esp input::-webkit-list-button {
   display: none;
}


.leaflet-sidebar-content {
   font-family: Roboto, sans-serif;
}

/* Filtros y ajustes */
.custom-switch .custom-switch-input:checked + .custom-switch-btn {
   background: #0074d9;
}

#ajustes .col-form-label, #correcciones .col-form-label {
   width: 80%;
}

#ajustes .row, #correcciones .row {
   margin-left: .5em;
   margin-right: .5em;
}

/* Centro */ 
#centro {
   padding: 0px;
}

#centro h1 {
   margin: 0px;
}