
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mapa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""></script>

    <!-- Plugin: Añade botón para maximizar el mapa -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet'>
    
    <!-- Plugin: Agrupa marcas contiguas -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    
    <!-- Plugin: Menu contextual con el botón derecho -->
    <script src="https://aratcliffe.github.io/Leaflet.contextmenu/dist/leaflet.contextmenu.js"></script>
    <link rel="stylesheet" href="https://aratcliffe.github.io/Leaflet.contextmenu/dist/leaflet.contextmenu.css">

    <!-- Librería turf: necesaria para isocronas -->
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    
   <!-- Plugin: Leaflet Control Search -->
   <script src="https://cdn.jsdelivr.net/npm/leaflet-search@2.4.0/dist/leaflet-search.min.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@2.4.0/dist/leaflet-search.min.css">
   <link rel="alternate stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@2.4.0/dist/leaflet-search.mobile.min.css">
   <!-- Fuse.js: Fuzzy-search -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/1.2.2/fuse.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
      integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
      integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    
    <!-- Extensión para el soporte de iconos mutables -->
    <script src="../../dist/leafext.js"></script>

    <!-- Mapa e iconos para la página -->
    <script src="../../dist/maps/adjofer/map.js"></script>
    <link rel="stylesheet" href="../../dist/maps/adjofer/css/adjofer.css">

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/component-custom-switch.css">
    
    </head>
  <body>
    <!-- HTML para los iconos que se decoran con CSS -->
    <template id="iconos">
        <div class="content"><span></span></div>
        <div class="arrow"></div>
    </template>

    <div id="map">
      <div class="wrapper">
        <!-- Sidebar -->
        <div id="sidebar">
          <button type="button" id="close" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="section-cardbox" id="select_esp">
            <div class="section-cardbox-header" data-toggle="collapse" href="#esp">
              <span id="esp_selected_title">Escoja especialidad...</span>
            </div>
            <div id="esp" class="section-cardbox-content collapse show">
              <label>Escriba o seleccione una especialidad
                <input list="especialidades" class="custom-select" placeholder="Escoja especialidad..."
                       id="esp_selected" v-model="esp_selected" autocomplete=off autofocus>
                <datalist id="especialidades">
                   <option value="590101">Administración de empresas</option>
                   <option value="590012">Alemán</option>
                   <option value="590102">Análisis y química industrial</option>
                   <option value="590103">Asesoría y procesos de imagen personal</option>
                   <option value="590008">Biología y geología</option>
                   <option value="590104">Construcciones civiles y edificación</option>
                   <option value="590009">Dibujo</option>
                   <option value="590061">Economía</option>
                   <option value="590017">Educación física</option>
                   <option value="590001">Filosofía</option>
                   <option value="590105">Formación y orientación laboral</option>
                   <option value="590010">Francés</option>
                   <option value="590007">Física y química</option>
                   <option value="590005">Geografía e historia</option>
                   <option value="590002">Griego</option>
                   <option value="590106">Hostelería y turismo</option>
                   <option value="590107">Informática</option>
                   <option value="590011">Inglés</option>
                   <option value="590108">Intervención sociocomunitaria</option>
                   <option value="590013">Italiano</option>
                   <option value="590003">Latín</option>
                   <option value="590004">Lengua castellana y literatura</option>
                   <option value="590006">Matemáticas</option>
                   <option value="590016">Música</option>
                   <option value="590109">Navegación e instalaciones marinas</option>
                   <option value="590110">Organización y gestión comercial</option>
                   <option value="590111">Organización y procesos de mantenimiento de vehículos</option>
                   <option value="590112">Organización y proyectos de fabricación mecánica</option>
                   <option value="590113">Organización y proyectos de sistemas energéticos</option>
                   <option value="590018">Orientacion educativa</option>
                   <option value="590015">Portugués</option>
                   <option value="590114">Procesos de cultivo acuícola</option>
                   <option value="590117">Procesos de diagnósticos clínicos y productos ortoprotésicos</option>
                   <option value="590115">Procesos de producción agraria</option>
                   <option value="590116">Procesos en la industria alimentaria</option>
                   <option value="590118">Procesos sanitarios</option>
                   <option value="590119">Procesos y medios de comunicación</option>
                   <option value="590120">Procesos y productos de textil, confección y piel</option>
                   <option value="590121">Procesos y productos de vidrio y cerámica</option>
                   <option value="590122">Procesos y productos en artes gráficas</option>
                   <option value="590123">Procesos y productos en madera y mueble</option>
                   <option value="590125">Sistemas electrotécnicos y automáticos</option>
                   <option value="590124">Sistemas electrónicos</option>
                   <option value="590019">Tecnología</option>
                   <option value="591201">Cocina y pastelería</option>
                   <option value="591202">Equipos electrónicos</option>
                   <option value="591203">Estética</option>
                   <option value="591204">Fabricación e instalación de carpintería y mueble</option>
                   <option value="591206">Instalaciones electrotécnicas</option>
                   <option value="591207">Instalaciones y equipos de cría y cultivo</option>
                   <option value="591205">Instalación y mantenimiento de equipos termicos y de fluídos</option>
                   <option value="591208">Laboratorio</option>
                   <option value="591209">Mantenimiento de vehículos</option>
                   <option value="591211">Mecanizado y mantenimiento de máquinas</option>
                   <option value="591210">Máquinas, servicios y producción</option>
                   <option value="591212">Oficina de proyectos de construcción</option>
                   <option value="591213">Oficina de proyectos de fabricación mecánica</option>
                   <option value="591215">Operaciones de procesos</option>
                   <option value="591214">Operaciones y equipos de elaboración de productos alimentarios</option>
                   <option value="591216">Operaciones y equipos de producción agraria</option>
                   <option value="591217">Patronaje y confección</option>
                   <option value="591218">Peluquería</option>
                   <option value="591219">Procedimientos de diagnostico clinico y ortoprotésico</option>
                   <option value="591220">Procedimientos sanitarios y asistenciales</option>
                   <option value="591221">Procesos comerciales</option>
                   <option value="591222">Procesos de gestión administrativa</option>
                   <option value="591223">Producción en artes gráficas</option>
                   <option value="591224">Producción textil y tratamiento fisico-quimicos</option>
                   <option value="591225">Servicios a la comunidad</option>
                   <option value="591226">Servicios de restauración</option>
                   <option value="591227">Sistemas y aplicaciones informáticas</option>
                   <option value="591228">Soldadura</option>
                   <option value="591021">Taller de vidrio y cerámica</option>
                   <option value="591229">Técnicas y procedimientos de imagen y sonido</option>
                </datalist>
		</label>
            </div>
          </div>
          <div class="section-cardbox">
            <div class="section-cardbox-header" data-toggle="collapse" href="#filtros">
              <span>Filtra los centros</span>
            </div>
            <div id="filtros" class="section-cardbox-content collapse show">
              <form autocomplete="off" id="form_filtros">
                <template id="template_correccion">
                  <div id="correcciones">
                  <template v-for="cor in correcciones">
                    <fieldset class="form-group" :name="cor.correccion_id">
                        <legend>{{cor.nombre}}</legend>
                        <small class="help" class="form-text text-muted">{{cor.descripcion}}</small>
                        <template v-for="opcion in cor.values">
                          <div class="form-group row">
                            <label class="etiqueta col-form-label" :for="opcion.opcion_id">{{opcion.opcion_label}}</label>
                            <div class="custom-switch custom-switch-xs pl-0 ">
                              <input :name="cor.correccion_name" class="custom-switch-input correccion" :id="opcion.opcion_id" type="checkbox" :value="opcion.opcion_valor" :checked="opcion.opcion_checked">
                              <label class="custom-switch-btn" :for="opcion.opcion_id"></label>
                            </div>
                          </div>
                        </template>
                    </fieldset>
                  </template>
                  </div>
                </template>
                <div id="correcciones"></div>
              </form>
            </div>
          </div>


          <template id="template-centro">
            <div class="section-cardbox" id="template-centro">
              <div class="section-cardbox-header" data-toggle="collapse" href="#info-centro">
                <span>{{datosCentro.id.nom}}</span>
              </div>

              <div class="card collapse show" id="info-centro">
                <div class="card-body">
                  <h5 class="card-title">Cod. {{datosCentro.id.cod}}</h5>
                  <p class="card-text">Dirección: {{datosCentro.id.dom}}. {{datosCentro.id.mun}}. {{datosCentro.id.cp}}. {{datosCentro.id.pro}}.</p>
                </div>
                <div class="card-header">
                  Plazas relevantes
                </div>
                <div class="card-body">
                  <div class="table-responsive-sm">
                    <table class="table table-striped">
                      <thead>
                        <tr class="table-primary">
                          <th scope="col">Puesto</th>
                          <th scope="col"><abbr title="Plantilla Orgánica">P.O.</abbr></th>
                          <th scope="col"><abbr title="Plantilla de Funcionamiento">P.F.</abbr></th>
                          <th scope="col"><abbr title="Vacantes Iniciales">V.I.</abbr></th>
                          <th scope="col"><abbr title="Vacantes Telefónicas">V.T.</abbr></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(plantilla, cod) in datosCentro.pla">
                          <th scope="row"><abbr v-bind:title="info.puestos[cod]">{{cod}}</abbr></th>
                          <td>{{plantilla.org}}</td>
                          <td>{{plantilla.fun}}</td>
                          <td>{{plantilla.vi}}</td>
                          <td>{{plantilla.vt}}</td>
                        </tr>
                      </tbody>
                    </table>                 
                  </div>
                </div>
                <div class="card-header">
                  Oferta educativa
                </div>
                <div class="card-body">
                    <template v-for="of in datosCentro.oferta">
                        <h5 class="card-title">{{info.ens[of.ens].nombre}}</h5>
                        <!--Si ha sido trasladado-->
                        <p class="card-text info-oferta">
                          <span v-if="of.esp">{{of.esp | capitalize }}. </span>
                          <span v-if="of.ori">Trasladado desde {{of.ori | decodificaCentro }} </span>
                          <span v-if="of.tur !== 'matutino'">{{of.tur | capitalize }}. </span>
                        </p>
                        <!--<p class="card-text info-oferta">(Dual. Trasladado desde I.E.S. Diego Macías)</p>-->
                    </template>
                </div>
                <div class="card-header">
                  Adjudicaciones del <abbr title="Procedimiento de Colocación de Efectivos">PCE</abbr>
                </div>
                <div class="card-body" v-if="datosCentro.adj.length">
                  <ul class="listaSinPadding">
                    <template v-for="plaza in datosCentro.adj">
                      <li class="div-puesto" v-bind:class="{'filtrado': plaza.filters.length}">
                        <h5 class="card-title">{{plaza.pue}} <span class="nombrePuesto">({{plaza.pue | nombrePuesto}})</span></h5>
                        <p class="card-text puesto-pce" v-if="plaza.col==='J'">({{plaza.col}}) {{info.colectivos[plaza.col].v}}: T.S. {{plaza.esc[0]}}-{{plaza.esc[1]}}-{{plaza.esc[2]}} (pet. {{plaza.pet}}).</p>
                        <p class="card-text puesto-pce" v-else>({{plaza.col}}) {{info.colectivos[plaza.col].v}}: Esc: {{plaza.esc}} (pet. {{plaza.pet}}).</p>
                        <div class="textoFiltrado" v-if="plaza.filters.length">
                          Filtrado por
                          <ul>
                            <template v-for="filtro in plaza.filters">
                              <li>{{filtro | detallaFiltros}}</li>
                            </template>
                          </ul>
                        </div>
                      </li>
                      
                    </template>
                  </ul>
                </div>
                <div class="card-body" v-else>
                  <p class="card-text puesto-pce">Sin adjudicaciones</p>
                </div>
              </div>
            </div>
          </template>

          <div class="section-cardbox">
            <div class="section-cardbox-header collapsed" data-toggle="collapse" href="#ajustes">
              <span>Ajustes</span>
            </div>
            <div id="ajustes" class="section-cardbox-content collapse">
              <form autocomplete="off" id="form_filtros">
                <fieldset class="form-group" name="campos_ajustes">
                  <legend>Ajustes generales</legend>
                  <div class="form-group row">
                    <label class="etiqueta col-form-label" for="ocultar_centros_oferta">Ocultar centros sin oferta</label>
                    <div class="custom-switch custom-switch-xs pl-0 ">
                      <input name="ocultar_centros_oferta" class="custom-switch-input filtro" id="ocultar_centros_oferta" type="checkbox" checked="checked">
                      <label class="custom-switch-btn" for="ocultar_centros_oferta"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="etiqueta col-form-label" for="ocultar_centros_adj">Ocultar centros sin adjudicaciones</label>
                    <div class="custom-switch custom-switch-xs pl-0 ">
                      <input name="ocultar_centros_adj" class="custom-switch-input filtro" id="ocultar_centros_adj" type="checkbox" >
                      <label class="custom-switch-btn" for="ocultar_centros_adj"></label>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="bottom">

          </div>          
        </div>
        <div>
          <button type="button" id="sidebarCollapse" class="btn btn-info invisible">
            <i class="fa fa-bars"></i>
            <span></span>
          </button>
        </div>
      </div>
      
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="scripts/josem.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
