
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mapa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""></script>

    <!-- Plugin: Añade botón para maximizar el mapa -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet'>
    
    <!-- Plugin: Agrupa marcas contiguas -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
      integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
      integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/component-custom-switch.css">
    
    </head>
  <body>
    <!-- HTML para los iconos que se decoran con CSS -->
    <template id="iconos">
        <div class="content"><span></span></div>
        <div class="arrow"></div>
    </template>

    <div id="map">
      <div class="wrapper">
        <!-- Sidebar -->
        <div id="sidebar">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="section-cardbox" id="select_esp">
            <div class="section-cardbox-header" data-toggle="collapse" href="#esp">
              <span id="esp_selected_title">Elige ...</span>
            </div>
            <div id="esp" class="section-cardbox-content collapse show">
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Selecciona la especialidad</label>
              <form autocomplete="off">
                <select name="especialidad" class="custom-select my-1 mr-sm-2" id="esp_selected" v-model="esp_selected">
                  <option selected value="">Elige...</option>
                  <optgroup label="590">
                    <option value="../../json/590101.json">Administración de empresas</option>
                    <option value="../../json/590012.json">Alemán</option>
                    <option value="../../json/590102.json">Análisis y química industrial</option>
                    <option value="../../json/590103.json">Asesoría y procesos de imagen personal</option>
                    <option value="../../json/590008.json">Biología y geología</option>
                    <option value="../../json/590104.json">Construcciones civiles y edificación</option>
                    <option value="../../json/590009.json">Dibujo</option>
                    <option value="../../json/590061.json">Economía</option>
                    <option value="../../json/590017.json">Educación física</option>
                    <option value="../../json/590001.json">Filosofía</option>
                    <option value="../../json/590105.json">Formación y orientación laboral</option>
                    <option value="../../json/590010.json">Francés</option>
                    <option value="../../json/590007.json">Física y química</option>
                    <option value="../../json/590005.json">Geografía e historia</option>
                    <option value="../../json/590002.json">Griego</option>
                    <option value="../../json/590106.json">Hostelería y turismo</option>
                    <option value="../../json/590107.json">Informática</option>
                    <option value="../../json/590011.json">Inglés</option>
                    <option value="../../json/590108.json">Intervención sociocomunitaria</option>
                    <option value="../../json/590013.json">Italiano</option>
                    <option value="../../json/590003.json">Latín</option>
                    <option value="../../json/590004.json">Lengua castellana y literatura</option>
                    <option value="../../json/590006.json">Matemáticas</option>
                    <option value="../../json/590016.json">Música</option>
                    <option value="../../json/590109.json">Navegación e instalaciones marinas</option>
                    <option value="../../json/590110.json">Organización y gestión comercial</option>
                    <option value="../../json/590111.json">Organización y procesos de mantenimiento de vehículos</option>
                    <option value="../../json/590112.json">Organización y proyectos de fabricación mecánica</option>
                    <option value="../../json/590113.json">Organización y proyectos de sistemas energéticos</option>
                    <option value="../../json/590018.json">Orientacion educativa</option>
                    <option value="../../json/590015.json">Portugués</option>
                    <option value="../../json/590114.json">Procesos de cultivo acuícola</option>
                    <option value="../../json/590117.json">Procesos de diagnósticos clínicos y productos ortoprotésicos</option>
                    <option value="../../json/590115.json">Procesos de producción agraria</option>
                    <option value="../../json/590116.json">Procesos en la industria alimentaria</option>
                    <option value="../../json/590118.json">Procesos sanitarios</option>
                    <option value="../../json/590119.json">Procesos y medios de comunicación</option>
                    <option value="../../json/590120.json">Procesos y productos de textil, confección y piel</option>
                    <option value="../../json/590121.json">Procesos y productos de vidrio y cerámica</option>
                    <option value="../../json/590122.json">Procesos y productos en artes gráficas</option>
                    <option value="../../json/590123.json">Procesos y productos en madera y mueble</option>
                    <option value="../../json/590125.json">Sistemas electrotécnicos y automáticos</option>
                    <option value="../../json/590124.json">Sistemas electrónicos</option>
                    <option value="../../json/590019.json">Tecnología</option>
                </optgroup>
                <optgroup label="591">
                    <option value="../../json/591201.json">Cocina y pastelería</option>
                    <option value="../../json/591202.json">Equipos electrónicos</option>
                    <option value="../../json/591203.json">Estética</option>
                    <option value="../../json/591204.json">Fabricación e instalación de carpintería y mueble</option>
                    <option value="../../json/591206.json">Instalaciones electrotécnicas</option>
                    <option value="../../json/591207.json">Instalaciones y equipos de cría y cultivo</option>
                    <option value="../../json/591205.json">Instalación y mantenimiento de equipos termicos y de fluídos</option>
                    <option value="../../json/591208.json">Laboratorio</option>
                    <option value="../../json/591209.json">Mantenimiento de vehículos</option>
                    <option value="../../json/591211.json">Mecanizado y mantenimiento de máquinas</option>
                    <option value="../../json/591210.json">Máquinas, servicios y producción</option>
                    <option value="../../json/591212.json">Oficina de proyectos de construcción</option>
                    <option value="../../json/591213.json">Oficina de proyectos de fabricación mecánica</option>
                    <option value="../../json/591215.json">Operaciones de procesos</option>
                    <option value="../../json/591214.json">Operaciones y equipos de elaboración de productos alimentarios</option>
                    <option value="../../json/591216.json">Operaciones y equipos de producción agraria</option>
                    <option value="../../json/591217.json">Patronaje y confección</option>
                    <option value="../../json/591218.json">Peluquería</option>
                    <option value="../../json/591219.json">Procedimientos de diagnostico clinico y ortoprotésico</option>
                    <option value="../../json/591220.json">Procedimientos sanitarios y asistenciales</option>
                    <option value="../../json/591221.json">Procesos comerciales</option>
                    <option value="../../json/591222.json">Procesos de gestión administrativa</option>
                    <option value="../../json/591223.json">Producción en artes gráficas</option>
                    <option value="../../json/591224.json">Producción textil y tratamiento fisico-quimicos</option>
                    <option value="../../json/591225.json">Servicios a la comunidad</option>
                    <option value="../../json/591226.json">Servicios de restauración</option>
                    <option value="../../json/591227.json">Sistemas y aplicaciones informáticas</option>
                    <option value="../../json/591228.json">Soldadura</option>
                    <option value="../../json/591021.json">Taller de vidrio y cerámica</option>
                    <option value="../../json/591229.json">Técnicas y procedimientos de imagen y sonido</option>
                </optgroup>
                </select>
              </form>
            </div>
          </div>
          <div class="section-cardbox">
            <div class="section-cardbox-header" data-toggle="collapse" href="#filtros">
              <span>Filtra los centros</span>
            </div>
            <div id="filtros" class="section-cardbox-content collapse show">
              <form autocomplete="off" id="form_filtros">
                <template id="template_correccion">
                  <div id="correcciones">
                  <template v-for="cor in correcciones">
                    <fieldset class="form-group" :name="cor.correccion_id">
                        <legend>{{cor.nombre}}</legend>
                        <small class="help" class="form-text text-muted">{{cor.descripcion}}</small>
                        <template v-for="opcion in cor.values">
                          <div class="form-group row">
                            <label class="etiqueta col-form-label" :for="opcion.opcion_id">{{opcion.opcion_label}}</label>
                            <div class="custom-switch custom-switch-xs pl-0 ">
                              <input :name="cor.correccion_name" class="custom-switch-input correccion" :id="opcion.opcion_id" type="checkbox" :value="opcion.opcion_valor" :checked="opcion.opcion_checked">
                              <label class="custom-switch-btn" :for="opcion.opcion_id"></label>
                            </div>
                          </div>
                        </template>
                    </fieldset>
                  </template>
                  </div>
                </template>
                <div id="correcciones"></div>
              </form>
            </div>
          </div>


          <template id="template-centro">
            <div class="section-cardbox" id="template-centro">
              <div class="section-cardbox-header" data-toggle="collapse" href="#info-centro">
                <span>{{datosCentro.id.nom}}</span>
              </div>

              <div class="card collapse show" id="info-centro">
                <div class="card-body">
                  <h5 class="card-title">Cod. {{datosCentro.id.cod}}</h5>
                  <p class="card-text">Dirección: {{datosCentro.id.dom}}. {{datosCentro.id.mun}}. {{datosCentro.id.cp}}. {{datosCentro.id.pro}}.</p>
                </div>
                <div class="card-header">
                  Plazas relevantes
                </div>
                <div class="card-body">
                  <div class="table-responsive-sm">
                    <table class="table table-striped">
                      <thead>
                        <tr class="table-primary">
                          <th scope="col">Puesto</th>
                          <th scope="col"><abbr title="Plantilla Orgánica">P.O.</abbr></th>
                          <th scope="col"><abbr title="Plantilla de Funcionamiento">P.F.</abbr></th>
                          <th scope="col"><abbr title="Vacantes Iniciales">V.I.</abbr></th>
                          <th scope="col"><abbr title="Vacantes Telefónicas">V.T.</abbr></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(plantilla, cod) in datosCentro.pla">
                          <th scope="row"><abbr v-bind:title="info.puestos[cod]">{{cod}}</abbr></th>
                          <td>{{plantilla.org}}</td>
                          <td>{{plantilla.fun}}</td>
                          <td>{{plantilla.vi}}</td>
                          <td>{{plantilla.vt}}</td>
                        </tr>
                      </tbody>
                    </table>                 
                  </div>
                </div>
                <div class="card-header">
                  Oferta educativa
                </div>
                <div class="card-body">
                    <template v-for="of in datosCentro.oferta">
                        <h5 class="card-title">{{info.ens[of.ens].nombre}}</h5>
                        <!--Si ha sido trasladado-->
                        <p class="card-text info-oferta">
                          <span v-if="of.esp">{{of.esp | capitalize }}. </span>
                          <span v-if="of.ori">Trasladado desde {{of.ori | decodificaCentro }} </span>
                          <span v-if="of.tur !== 'matutino'">{{of.tur | capitalize }}. </span>
                        </p>
                        <!--<p class="card-text info-oferta">(Dual. Trasladado desde I.E.S. Diego Macías)</p>-->
                    </template>
                </div>
                <div class="card-header">
                  Adjudicaciones del <abbr title="Procedimiento de Colocación de Efectivos">PCE</abbr>
                </div>
                <div class="card-body" v-if="datosCentro.adj.length">
                    <template v-for="plaza in datosCentro.adj">
                      <h5 class="card-title">Puesto <abbr>{{plaza.pue}}</abbr></h5>
                      <p class="card-text puesto-pce" v-if="plaza.col==='J'">({{plaza.col}}) {{info.colectivos[plaza.col].v}}: T.S. {{plaza.esc[0]}}-{{plaza.esc[1]}}-{{plaza.esc[2]}} (pet. {{plaza.pet}}).</p>
                      <p class="card-text puesto-pce" v-else>({{plaza.col}}) {{info.colectivos[plaza.col].v}}: Esc: {{plaza.esc}} (pet. {{plaza.pet}}).</p>
                    </template>
                </div>
                <div class="card-body" v-else>
                  <p class="card-text puesto-pce">Sin adjudicaciones</p>
                </div>
              </div>
            </div>
          </template>

          <div class="section-cardbox">
            <div class="section-cardbox-header" data-toggle="collapse" href="#ajustes">
              <span>Ajustes</span>
            </div>
            <div id="ajustes" class="section-cardbox-content collapse">
              <form autocomplete="off" id="form_filtros">
                <fieldset class="form-group" name="campos_ajustes">
                  <legend>Ajustes generales</legend>
                  <div class="form-group row">
                    <label class="etiqueta col-form-label" for="ocultar_centros_oferta">Ocultar centros sin oferta</label>
                    <div class="custom-switch custom-switch-xs pl-0 ">
                      <input name="ocultar_centros_oferta" class="custom-switch-input filtro" id="ocultar_centros_oferta" type="checkbox" checked="checked">
                      <label class="custom-switch-btn" for="ocultar_centros_oferta"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="etiqueta col-form-label" for="ocultar_centros_adj">Ocultar centros sin adjudicaciones</label>
                    <div class="custom-switch custom-switch-xs pl-0 ">
                      <input name="ocultar_centros_adj" class="custom-switch-input filtro" id="ocultar_centros_adj" type="checkbox" >
                      <label class="custom-switch-btn" for="ocultar_centros_adj"></label>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="bottom">

          </div>          
        </div>
        <div>
          <button type="button" id="sidebarCollapse" class="btn btn-info invisible">
            <i class="fa fa-bars"></i>
            <span></span>
          </button>
        </div>
      </div>
      
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Extensión para el soporte de iconos mutables -->
    <script src="../../dist/leafext.js"></script>
    <!-- Mapa e iconos para la página -->
    <script src="../../dist/maps/adjofer/map.js"></script>
    <!-- Menú izquierdo -->
    <!--<script src="scripts/menu.js"></script>-->
    <!-- Lanza el mapa y puebla selectores -->
    <script src="scripts/josem.js"></script>
    <!-- Filtros y correcciones de centros -->
    <!-- <script src="scripts/filtros_centros.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
